---
import "../css/style.scss";

interface Props {
  title: string;
  children: any;
}
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZN0HVXBFN4"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-ZN0HVXBFN4');
		</script>

		<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Blog RSS Feed" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
